<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
{{ if eq .Section "pastmembers" }}
    <script src="{{ "../../js/fresh.js" | absURL }}"></script>
    <script src="{{ "../../js/jquery.panelslider.min.js" | absURL }}"></script>
{{ else }}
    <script src="{{ "../js/fresh.js" | absURL }}"></script>
    <script src="{{ "../js/jquery.panelslider.min.js" | absURL }}"></script>
{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
